@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("reset.css");

.alert {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem 2rem;
  text-align: center;
}
.alert--success {
  border-color: green;
  color: green;
}
.alert--fail {
  border-color: tomato;
  color: tomato;
}
.userCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
